
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

www/
node_modules/
.vscode/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
node_modules
